body {
    background-color: rgb(153, 153, 204);
}

.new-list {
    background-color: rgb(138, 138, 182);
    width: 270px;
    border-radius: 5px;
    margin: 20px;
}

.title-add-list {
    color: white;
    font-size: 20px;
    text-decoration: none;
    /* display: none; */
}

.text-title {
    padding: 5px;
    cursor: pointer;
}

.newInput {
    font-size: 17px;
    padding: 5px;
    margin: 10px 0 0 10px;
    width: 87%;
}

ul{ 
	list-style: none;
	margin: 0;
    padding: 0;
}

.add-list-btn {
    background-color: rgb(39, 39, 92);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-list-card {
    background-color: rgb(230, 230, 235);
    border: none;
    border-radius: 5px;
    color: rgb(49, 46, 46);
    font-size: 20px;
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
    display: none;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.next-list {
    background-color: rgb(138, 138, 182);
    width: 270px;
    border-radius: 5px;
    margin: 20px;
}